.LandingPage {
  margin-top: 150px;
  background-color: var(--dark-slate-blue);
}

.LandingPage p {
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  max-width: 650px;
  margin: auto;
  text-align: center;
}
