.Header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1;
}
#menu {
  position: absolute;
  right: 4%;
  margin-top: 63px;
}
.Header a {
  padding-left: 40px;
  text-decoration: none;
  font-family: DIN2014;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--battleship-grey);
}

#header-logo {
  width: 100px;
  position: absolute;
  top: 15px;
  left: 100px;
}

.Contact {
  width: 80px;
  height: 25px;
  padding-right: 33.4px;
}
.Careers {
  width: 80px;
  height: 25px;
}
.Service-Requests {
  width: 171px;
  height: 25px;
}
.Case-Studies {
  width: 125px;
  height: 25px;
}
.Services {
  width: 85px;
  height: 25px;
}
.Home {
  width: 51px;
  height: 25px;
}
.About-Us {
  width: 89px;
  height: 25px;
}
