.Header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

#call-us {
  width: 100%;
  position: absolute;
  margin-top: 0;
  background-color: rgb(238, 238, 238);
}

#call-us p {
  color: rgb(227, 69, 57);
  margin: 0;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  padding-right: 80px;
}

.Header a {
  text-decoration: none;
  font-size: 18px;
  color: var(--battleship-grey);
  font-family: DIN2014;
}

#header-logo {
  display: block;
  margin-top: 46px;
  margin-right: auto;
  margin-left: auto;
  width: 160px;
  height: 76px;
}
.menu {
  display: none;
}
.menuicon {
  margin-top: 86px;
}

@media only screen and (min-width: 850px) {
  .menu {
    display: inline-block;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
