.offering {
  width: 396px;
  height: 84px;
  margin-bottom: 66.5px;
  margin-right: 100px;
}

.offering ::before {
  content: " ";
  position: absolute;
  width: 25px;
  border-top: 4px solid var(--light-orange);
  margin-top: -10px;
}
