@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --dark-grey: #2d2d2e;
  --cornflower: #6c63ff;
  --twilight: #5659a3;
  --battleship-grey: #727376;
  --light-orange: #faa63e;
  --dark-slate-blue: #262262;
}

@font-face {
  font-family: "DINBEK-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("./fonts/DINBEK-Bold"),
    url("./fonts/DINBEK-Bold.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "DINBEK-Bold";
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.blue {
  color: rgb(86, 89, 163);
}

/* @font-face {
  font-family: DIN2014;
  src: local(DIN2014-Bold), url(/path/to/DIN2014-Bold.woff2) format("woff2"),
    url(/path/to/DIN2014-Bold.woff) format("woff"),
    url(/path/to/DIN2014-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
} */

h1 {
  /* font-family: DIN2014; */
  font-size: 90px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: var(--twilight);
}
h2 {
  /* font-family: DIN2014; */
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: var(--twilight);
}
h3 {
  /* font-family: DIN2014; */
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: var(--twilight);
}

p {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: var(--dark-grey);
}
