@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@font-face {
  font-family: "DINBEK-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("./fonts/DINBEK-Bold"),
    url("./fonts/DINBEK-Bold.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "DINBEK-Bold";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blue {
  color: rgb(86, 89, 163);
}
